<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <title>Home</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

</head>
<body class="lift:content_id=main">
<div id="main" class="lift:surround?with=default;at=content">
    <h2>Click on the map to put markers, and click on them to see the infowindow. <br/> Click on Track Locations button
        to see the action</h2>

    <p>
	<span class="lift:helloWorld">
	  Welcome to your Lift app at <span id="time">Time goes here</span>
        <div id="map_div" style="height:400px;width:600px"></div>
	</span>
    </p>
    <div class="lift:helloWorld.setRectangle">
        <button id="setRectangle">Set Rectangle</button>
        <button onclick="pageFunctions.setLocation(null)">Track locations</button>
    </div>

    <div class='container-fluid' ng-controller="TypeaheadCtrl">
        <div class="span3">
        <input type="text" ng-model="selected" typeahead-wait-ms="300" typeahead="k for k in getList($viewValue)">
            <ul class="unstyled">
                <li ng-repeat="res in lista">
                    <a ng-click="placeDet(res.ref)">{{res.name}}</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid" ng-repeat="d in placedetail">
            <div class="row-fluid">
                <div class="span3">
                    <h3>Address</h3>
                    <div ng-repeat="d in placedetail">
                        <span>{{d.address}}</span>
                    </div>
                </div>
                <div class="span3">
                    <h3>Components</h3>
                    <div ng-repeat="d in placedetail">
                        <div ng-repeat="comp in d.components">
                            <span>{{comp}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>



</div>
</body>
</html>

